.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper{padding-top:65px;}
.kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper .kt-content{padding:0;}


/*search-all*/
.search-all{
  max-width:100%;
  position:relative;
}
.search-all button.btn-toggler{
  position:absolute;
  right:0;
  top:0;
}
.search-all input::placeholder{
  font-family:FontAwesome, SolaimanLipi;
  padding-left:5px;
}

.nothi_list .nav-tabs.nav-tabs-line .nav-item{
  display:flex;
  width:20%;
  margin-right:0;
  overflow:hidden;
}
.nothi_list .nav-tabs.nav-tabs-line .nav-item a.nav-link{
  margin-right:30px;
}

.card, .card-header:first-child{border-radius:0;}
.gutter{
  background-color:#eee;
  background-repeat:no-repeat;
  background-position:50%;
}

.gutter.gutter-horizontal{
  background-image:url('grips/vertical.png');
  cursor:col-resize;
}

.gutter.gutter-vertical{
  background-image:url('grips/horizontal.png');
  cursor:row-resize;
}

.gutter.gutter-vertical{
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal{
  background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}


.note_action{position:relative;}
.note_action .card{position:absolute;width:400px;left:0;top:0;z-index:999;opacity:0;transition:all .3s;visibility:hidden;}
.note_action .card.show{left:calc(100% + 17px);visibility:visible;opacity:1;}

.add_onucched .card-body{position:relative;}
.onucched_numbers{position:absolute;top:0;left:-50px;visibility:hidden;opacity:0;transition:all .3s;}
.onucched_numbers.show{left:0;visibility:visible;opacity:1;z-index:999;}

i.togg-close{position:absolute;cursor:pointer;right:0;top:0;z-index:999;padding:0 2px;background:#ccc;color:#fff;}
i.togg-close:hover{background:red}


/*fr-wrapper show-placeholder*/
.froala-editor .fr-wrapper div:first-child{display:none;  }
.froala-editor .fr-toolbar,
.froala-editor .second-toolbar{border-radius:0!important;}

.froala-editor{display:flex;flex-direction:column;height:100%;}

.froala-editor .fr-wrapper{
  -webkit-box-flex:1 !important;
  -ms-flex:1 1 auto !important;
  flex:1 1 auto !important;
}




.onucched_list .list-group-item .onucched_heading .btn-group{visibility:hidden;opacity:0;transition:all .3s;}
.onucched_list .list-group-item:hover .onucched_heading .btn-group{visibility:visible;opacity:1;}
.potroview svg{vertical-align:top;}

.onucched_list .btn.btn-icon i{font-size:18px;}
.btn-toolbar.navWidth{position:relative;}
