<div class="kt-aside__brand kt-grid__item " id="kt_aside_brand" style="" kt-hidden-height="65">
  <div class="kt-aside__brand-logo">
    <a href="<?= $this->request->getAttribute('webroot') ?>">
      <img alt="Logo" src="<?= $this->request->webroot ?>img/logo.png">
    </a>
  </div>
</div>
