<div class="about-block content content-center" id="about">
    <div class="container">
        <h2><strong>Metronic</strong> Inspires</h2>
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
        <div class="ab-trio">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/trio.png" alt="" class="img-responsive">
            <div class="ab-cirlce ab-cirle-blue">
                <i class="fa fa-code"></i>
                <strong>Clean Code</strong>
            </div>
            <div class="ab-cirlce ab-cirle-red">
                <i class="fa fa-gift"></i>
                <strong>Huge Updates</strong>
            </div>
            <div class="ab-cirlce ab-cirle-green">
                <i class="fa fa-mobile"></i>
                <strong>Responsive</strong>
            </div>
        </div>
    </div>
</div>