<div class="facts-block content content-center" id="facts">
    <h2>Some facts about us</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="item">
                    <strong>39</strong>
                    Projects Completed
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="item">
                    <strong>14</strong>
                    Team Members
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="item">
                    <strong>29k+</strong>
                    Products Sold
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="item">
                    <strong>500</strong>
                    Weekly Sales
                </div>
            </div>
        </div>
    </div>
</div>