<div class="message-block content content-center valign-center" id="message">
    <div class="valign-center-elem">
        <h2>The details are not the details <strong>They make the design</strong></h2>
        <em>KEEN THEMES</em>
    </div>
</div>