<div class="portfolio-block content content-center" id="portfolio">
    <div class="container">
        <h2 class="margin-bottom-50">Latest <strong>works</strong></h2>
    </div>
    <div class="row">
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/2.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/2.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/6.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/6.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/8.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/8.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/3.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/3.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/5.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/5.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/4.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/4.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/1.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/1.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/10.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/10.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/9.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/9.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/7.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/7.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/2.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/2.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
        <div class="item col-md-2 col-sm-6 col-xs-12">
            <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/8.jpg" alt="NAME" class="img-responsive">
            <a href="<?= $this->request->webroot; ?>assets/web/onepage/img/portfolio/8.jpg" class="zoom valign-center">
                <div class="valign-center-elem">
                    <strong>London City Project</strong>
                    <em>Property</em>
                    <b>Details</b>
                </div>
            </a>
        </div>
    </div>
</div>