<div class="team-block content content-center margin-bottom-40" id="team">
    <div class="container">
        <h2>Meet <strong>the team</strong></h2>
        <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
        <div class="row">
            <div class="col-md-4 item">
                <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/people/img6-large.jpg" alt="Marcus Doe" class="img-responsive">
                <h3>Marcus Doe</h3>
                <em>Founder</em>
                <p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>
                <div class="tb-socio">
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                    <a href="javascript:void(0);" class="fa fa-twitter"></a>
                    <a href="javascript:void(0);" class="fa fa-google-plus"></a>
                </div>
            </div>
            <div class="col-md-4 item">
                <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/people/img7-large.jpg" alt="Elena Taylor" class="img-responsive">
                <h3>Elena Taylor</h3>
                <em>Designer</em>
                <p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>
                <div class="tb-socio">
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                    <a href="javascript:void(0);" class="fa fa-twitter"></a>
                    <a href="javascript:void(0);" class="fa fa-google-plus"></a>
                </div>
            </div>
            <div class="col-md-4 item">
                <img src="<?= $this->request->webroot; ?>assets/web/onepage/img/people/img8-large.jpg" alt="Cris Nilson" class="img-responsive">
                <h3>Cris Nilson</h3>
                <em>Developer</em>
                <p>Lorem ipsum dolor amet, tempor ut labore magna tempor dolore</p>
                <div class="tb-socio">
                    <a href="javascript:void(0);" class="fa fa-facebook"></a>
                    <a href="javascript:void(0);" class="fa fa-twitter"></a>
                    <a href="javascript:void(0);" class="fa fa-google-plus"></a>
                </div>
            </div>
        </div>
    </div>
</div>