<div class="bg-white shadow-sm align-items-center py-2 d-flex">
  <div class="col-xl-4">
    <select name="nothi_type" class="form-control">
      <option value="">-- পদবি নির্বাচন করুন --</option>
      <option value="0">অফিস সহকারী, ব্যবসা-বাণিজ্য শাখা</option>
      <option value="1">সিনিয়র সফটওয়্যার ইঞ্জিনিয়ার 1 (অতিরিক্ত দায়িত্ব), ই-সার্ভিস টেস্ট</option>
      <option value="2">সাঁট লিপিকার, জেলা প্রশাসকের কার্যালয়</option>
    </select>
  </div>
  <div class="col d-flex">
    <div class="search-all flex-fill">
      <div class="dropdown">
        <input type="text" class="form-control" placeholder=" বিষয় দিয়ে খুঁজুন...">
        <button id="advanced-search" class="btn btn-transparent text-info btn-toggler" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-menu modules dropdown-menu-right shadow w-100" aria-labelledby="advanced-search">
          <form class="px-4 py-3" action="" method="post">
            <h4 class="font-bn-en">বিস্তারিত খুঁজুন</h4>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="control" name="nothi_no" placeholder="নথি নাম্বার" class="form-control"></div>
              <div class="col-md-6 mb-3">
                <select name="nothi_type" id="nothi_type" class="form-control kt-select2">
                  <option value="">-- নথি ধরন --</option>
                  <option value="0">নিম্নোক্ত তালিকা</option>
                  <option value="1">থেকে পদবি</option>
                  <option value="2">নির্বাচন করুন</option>
                </select>
              </div>
              <div class="col-md-12 mb-3">
                <div class="input-group">
                  <input type="text" aria-label="First name" class="form-control datepicker"
                      placeholder="তারিখ নির্বাচন">
                  <span class="input-group-text">হইতে</span>
                  <input type="text" aria-label="Last name" class="form-control datepicker"
                      placeholder="তারিখ নির্বাচন">
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <select name="select_section" class="form-control">
                  <option value="">-- শাখা নির্বাচন করুন --</option>
                  <option value="0">গোপনীয় শাখা</option>
                  <option value="1">আর এম শাখা</option>
                  <option value="2">জেনারেল সার্টিফিকেট শাখা</option>
                  <option value="3">রাজস্ব মুন্সিখানা শাখা</option>
                  <option value="4">রেকর্ড রুম শাখা</option>
                  <option value="5">ভূমি অধিগ্রহণ শাখা</option>
                  <option value="6">ভি পি শাখা</option>
                  <option value="7">প্রকাশনা শাখা</option>
                  <option value="8">ফৌজদারী নকলখানা শাখা</option>
                  <option value="9">রীট শাখা</option>
                  <option value="10">বিচার শাখা</option>
                  <option value="11">জুডিশিয়াল মুন্সিখানা শাখা</option>
                  <option value="12">লাইসেন্স (প্রমোদ) শাখা</option>
                  <option value="13">আগ্নেয়াস্ত্র শাখা</option>
                  <option value="14">সীমান্ত শাখা</option>
                  <option value="15">নির্বাহী ম্যাজিস্ট্রেট আদালত</option>
                  <option value="16">গোপনীয় শাখা</option>
                  <option value="17">সার্বিক</option>
                  <option value="18">স্থানীয় সরকার</option>
                  <option value="19">রাজস্ব</option>
                  <option value="20">গোপনীয় শাখা</option>
                  <option value="21">অতিরিক্ত জেলা ম্যাজিস্ট্রেটের দপ্তর</option>
                  <option value="22">ভূমি অধিগ্রহণ</option>
                  <option value="23">এনজিও বিষয়ক শাখা</option>
                  <option value="24">মুক্তিযোদ্ধা কল্যাণ বিষয়ক শাখা</option>
                  <option value="25">ফ্রন্ট ডেস্ক শাখা</option>
                  <option value="26">শিক্ষা ও কল্যাণ শাখা</option>
                  <option value="27">জেলা ই-সেবা কেন্দ্র</option>
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="all_nothi" class="form-control">
                  <option value="">-- সকল নথি --</option>
                  <option value="0">গোপনীয় নথি সমূহ</option>
                  <option value="1">শুধু জরুরী নথি সমূহ</option>
                </select>
              </div>

            </div>
            <div class="btn-group">
              <button type="submit" class="btn btn-success"><i class="fa fa-search"></i> খুঁজুন
              </button>
              <button type="reset" class="btn btn-danger"><i class="fa fa-refresh"></i> রিসেট
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="btn btn-success text-white"><i class="fa fa-search"></i></div>
    <div class="btn btn-danger"><i class="fas fa-sync-alt"></i></div>
    <div class="btn btn-primary aside-menu-toggler" data-toggle="aside-menu-lg-show"><i class="fa fa-bars"></i>
    </div>
  </div>
</div>


<div class="px-3 nothi_list">
  <ul class="nav nav-tabs  nav-tabs-line nav-tabs-line-success mb-0" role="tablist">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center w-100" data-toggle="tab" href="#kt_tabs_7_1" role="tab">
        <i class="fa fa-inbox fa-2x"></i>
        <aside class="ml-3 line-height-1">
          <div>
            <strong class="text-dark font-weight-normal">আগত নথি</strong>
            <span class="badge alert-success ml-2">12</span>
          </div>
          <small class="text-truncate nothi-from text-muted" data-toggle="tooltip" title=""
              data-original-title="জাহাঙ্গীর, অফিস সহকারী (জেলা প্রশাসকের কার্যালয়, জামালপুর), a2i@gov.bd">জাহাঙ্গীর, অফিস
            সহকারী (জেলা প্রশাসকের কার্যালয়, জামালপুর), a2i@gov.bd
          </small>
        </aside>
      </a>
    </li>


    <li class="nav-item">
      <a class="nav-link d-flex align-items-center w-100" data-toggle="tab" href="#kt_tabs_7_21">
        <i class="far fa-paper-plane fa-2x"></i>
        <aside class="ml-3 line-height-1">
          <div>
            <strong class="text-dark font-weight-normal">প্রেরিত নথি</strong>
            <span class="badge alert-success ml-2">232</span>
          </div>
          <small class="text-truncate nothi-from text-muted" data-toggle="tooltip" title="" data-original-title="জাহাঙ্গীর, অফিস সহকারী (জেলা প্রশাসকের কার্যালয়, জামালপুর), a2i@gov.bd">জাহাঙ্গীর, অফিস
            সহকারী (জেলা প্রশাসকের কার্যালয়, জামালপুর), a2i@gov.bd
          </small>
        </aside>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link d-flex align-items-center w-100 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">
        <i class="fa fa-envelope-open-o fs-20"></i>
        <aside class="ml-3 line-height-1">
          <div>
            <strong class="text-dark font-weight-normal">অন্যান্য অফিসের নথি</strong>
            <span class="badge alert-success ml-2">343</span>
          </div>
          <small class="text-truncate nothi-from text-muted" data-toggle="tooltip" title="" data-original-title="জাহাঙ্গীর, অফিস সহকারী (জেলা প্রশাসকের কার্যালয়, জামালপুর), a2i@gov.bd">জাহাঙ্গীর, অফিস
            সহকারী (জেলা প্রশাসকের কার্যালয়, জামালপুর), a2i@gov.bd
          </small>
        </aside>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" data-toggle="tab" href="#kt_tabs_7_2">Action</a>
        <a class="dropdown-item" data-toggle="tab" href="#kt_tabs_7_2">Another action</a>
        <a class="dropdown-item" data-toggle="tab" href="#kt_tabs_7_2">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="tab" href="#kt_tabs_7_2">Separated link</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center w-100" data-toggle="tab" href="#kt_tabs_7_3" role="tab">
        <i class="icon-envelope-letter fs-20"></i>
        <aside class="ml-3 line-height-1">
          <div>
            <strong class="text-dark font-weight-normal">সকল নথি</strong>
            <span class="badge alert-success ml-2">23</span>
          </div>
          <small class="text-truncate nothi-from text-muted" data-toggle="tooltip" title="" data-original-title="জাহাঙ্গীর, অফিস সহকারী (জেলা প্রশাসকের কার্যালয়, জামালপুর), a2i@gov.bd">জাহাঙ্গীর, অফিস
            সহকারী (জেলা প্রশাসকের কার্যালয়, জামালপুর), a2i@gov.bd
          </small>
        </aside>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center w-100"data-toggle="tab" href="#kt_tabs_7_31" role="tab">
        <i class="icon-layers fs-20"></i>
        <aside class="ml-3 line-height-1">
          <strong class="text-dark font-weight-normal">সকল পঠিত</strong>
          <span class="badge alert-success ml-2">23</span>
        </aside>
      </a>
    </li>
  </ul>
  <div class="tab-content py-3">
    <div class="tab-pane active" id="kt_tabs_7_1" role="tabpanel">

      <table class="table table-striped table-bordered datatable table-sm">
        <thead>

        <tr role="row" class="heading">
          <th style="width: 5%" class="text-center sorting_disabled" rowspan="1" colspan="1">
            ক্রম
          </th>
          <th class="text-center sorting_disabled" style="width: 20%" rowspan="1" colspan="1">
            নথি নম্বর
          </th>
          <th class="text-center sorting_disabled" style="width: 25%" rowspan="1" colspan="1">
            শিরোনাম
          </th>
          <th class="text-center sorting_disabled" style="width: 20%" rowspan="1" colspan="1">
            সর্বশেষ নোটের তারিখ
          </th>
          <th class="text-center sorting_disabled" style="width: 20%" rowspan="1" colspan="1">
            নথির শাখা
          </th>
          <th class="text-center sorting_disabled" style="width: 5%" rowspan="1" colspan="1">
            বিস্তারিত
          </th>
        </tr>
        </thead>
        <tbody id="dbl_click">
        <tr role="row" class="even">
          <td style="font-family:nikosh">1</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-10-25T16:25:23+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">2</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-10-25T18:06:28+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">3</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-10-25T19:22:28+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">4</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-10-28T10:41:27+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">5</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-10-28T11:08:21+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">6</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-10-28T11:09:53+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">7</td>
          <td>০১.০১.০১০২.০১৮.১১.০০৭.১৮</td>
          <td>nothi 07</td>
          <td>2018-11-07T15:13:58+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="8"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">8</td>
          <td>০১.০১.০১০২.০১৮.১১.০০৭.১৮</td>
          <td>nothi 07</td>
          <td>2018-11-07T15:15:39+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="8"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">9</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-11-13T17:18:12+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">10</td>
          <td>০১.০১.০১০২.০১৮.১১.০০৭.১৮</td>
          <td>nothi 07</td>
          <td>2018-11-14T16:08:32+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="8"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">11</td>
          <td>০১.০১.০১০২.০১৮.১১.০০৭.১৮</td>
          <td>nothi 07</td>
          <td>2018-11-14T16:24:58+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="8"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">12</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T13:15:13+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">13</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T13:36:45+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">14</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T13:42:03+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">15</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T14:27:19+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">16</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T14:34:51+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">17</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T14:46:04+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">18</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T14:51:06+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">19</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T14:51:58+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">20</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T14:56:03+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">21</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T15:04:41+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">22</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-11-26T15:18:05+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">23</td>
          <td>০১.০১.০১০২.০১৮.০২.০০২.১৮</td>
          <td>Other Office Nothi movement</td>
          <td>2018-11-27T15:39:03+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="17"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">24</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-11-27T17:07:48+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">25</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-11-27T17:09:19+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">26</td>
          <td>০১.০১.০১০২.০১৮.০২.০০২.১৮</td>
          <td>Other Office Nothi movement</td>
          <td>2018-11-28T18:08:12+0600</td>
          <td>ই-সার্ভিস</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="17"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">27</td>
          <td>০১.০১.০১০২.০১৮.০২.০০২.১৮</td>
          <td>Other Office Nothi movement</td>
          <td>2018-11-28T19:18:10+0600</td>
          <td>ই-সার্ভিস</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="17"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">28</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-12-02T13:01:03+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">29</td>
          <td>০১.০১.০১০২.০১৮.০২.০০২.১৮</td>
          <td>Other Office Nothi movement</td>
          <td>2018-12-05T17:41:39+0600</td>
          <td>ই-সার্ভিস</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="17"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">30</td>
          <td>০১.০১.০১০২.০০০.০১.৯৯৯.৯৯</td>
          <td>ffff 2</td>
          <td>2018-12-06T14:21:52+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="16"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">31</td>
          <td>০১.০১.০১০২.০০০.০১.৯৯৯.৯৯</td>
          <td>ffff 2</td>
          <td>2018-12-06T14:22:12+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="16"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">32</td>
          <td>০১.০১.০১০২.০০০.০১.৯৯৯.৯৯</td>
          <td>ffff 2</td>
          <td>2018-12-06T14:24:01+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="16"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">33</td>
          <td>০১.০১.০১০২.০০০.০১.৯৯৯.৯৯</td>
          <td>ffff 2</td>
          <td>2018-12-06T14:24:15+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="16"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">34</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-12-10T15:05:01+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">35</td>
          <td>০১.০১.০১০২.০১৮.০১.০০১.১৮</td>
          <td>পরীক্ষামূলক নথি ২৫ অক্টোবর test</td>
          <td>2018-12-10T15:06:16+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="2"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">36</td>
          <td>০১.০১.০১০২.০১৮.০২.০০২.১৮</td>
          <td>Other Office Nothi movement</td>
          <td>2018-12-10T15:11:53+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="17"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">37</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-10T17:09:59+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">38</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-10T17:11:11+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">39</td>
          <td>০১.০১.০১০২.০১৮.০২.০০২.১৮</td>
          <td>Other Office Nothi movement</td>
          <td>2018-12-12T14:52:34+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="17"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">40</td>
          <td>০১.০১.০১০২.০১৮.০২.০০২.১৮</td>
          <td>Other Office Nothi movement</td>
          <td>2018-12-12T14:53:00+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="17"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">41</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-12T15:44:50+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">42</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-12T15:46:00+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">43</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-12T15:46:51+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">44</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-12T15:47:42+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">45</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-12T15:48:14+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">46</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-12T15:49:06+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">47</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-12T15:49:39+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">48</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-13T15:11:06+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">49</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-19T12:37:43+0600</td>
          <td>জেলা প্রশাসকের কার্যালয়</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">50</td>
          <td>০১.০১.০১০২.০০০.০১.০০৩.১৮</td>
          <td>Check dak and nothi.</td>
          <td>2018-12-19T12:38:30+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="11"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">51</td>
          <td>০১.০১.০১০২.০১৮.০২.০০২.১৮</td>
          <td>Other Office Nothi movement</td>
          <td>2019-01-08T17:06:25+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="17"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        <tr role="row" class="even">
          <td style="font-family:nikosh">52</td>
          <td>০১.০১.০১০২.০১৮.০২.০০১.১৯</td>
          <td>ফাইলের মাধ্যমে জিঞ্জাসিত বিষয়গুলো সঙ্গায়ীত</td>
          <td>2019-03-03T17:39:47+0600</td>
          <td>ব্যবসা-বাণিজ্য শাখা</td>
          <td>
            <div class="text-center"><a class="btn btn-success btn-sm btn-show-hide" data-nothi-master-id="23"
                  href="javascript;"><i class="fa fa-search-plus"></i></a></div>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="tab-pane" id="kt_tabs_7_21" role="tabpanel">

    </div>
    <div class="tab-pane" id="kt_tabs_7_2" role="tabpanel">
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
      more recently.
    </div>
    <div class="tab-pane" id="kt_tabs_7_21" role="tabpanel">
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
      unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
      more recently.
    </div>
    <div class="tab-pane" id="kt_tabs_7_3" role="tabpanel">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </div>
    <div class="tab-pane" id="kt_tabs_7_31" role="tabpanel">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book.
    </div>
  </div>
</div>
